/* color-palette.css */

/* Root colors */
:root {
    --background-color: #f9f5f2; /* Light beige for a warm background */
    --primary-color: #d4a373; /* Warm beige for main elements and buttons */
    --primary-hover-color: #c89e74; /* Slightly darker beige for hover effects */
    --secondary-color: #8e735b; /* Earthy green-brown for accent elements */
    --secondary-hover-color: #7a5e46; /* Darker green-brown for hover effects */
    --section-background: #ffffff; /* Clean white for sections */
    --text-color: #333333; /* Dark charcoal for main text */
    --text-color-secondary: #666666; /* Medium gray for secondary text */
    --card-background: #ffffff; /* White for card backgrounds */
    --card-text-color: #4a3b2c; /* Dark brown for card text */
    --card-subtext-color: #6d574f; /* Light brown for card subtext */
    --card-hover-background: #f7e5d6; /* Soft cream for card hover background */
    --card-hover-background-dark: #e2cbb4; /* Slightly darker cream for card hover effect */
    --form-background: #f2f2f2; /* Light gray for forms */
    --form-text-color: #333333; /* Dark charcoal for form text */
    --form-border-color: #cccccc; /* Light gray for form borders */
    --form-submit-bg: #a57f6c; /* Warm brown for form submit buttons */
    --form-submit-hover-bg: #8c5e3c; /* Darker brown for submit button hover */
    --contact-info-background: #fdfdfd; /* Very light gray for contact info */
    --contact-info-text-color: #333333; /* Dark charcoal for contact info  text */
    --contact-info-list-color: #555555; /* Medium gray for contact info list */
    --social-icon-background: #333333; /* Dark gray for social icons */
    --social-icon-hover-background: #555555; /* Medium gray for social icon hover */
}
